<h2> Python Basics

I. Cobalah print kalimat "Hello, my name is ***nama anda***" dengan minimal 2 cara: <br>
a.   Print biasa (nama diletakkan langsung dalam string yang di print)<br>
b.  Menggunakan variabel (nama disimpan dulu di variabel)<br>
c.  Menggunakan operator dan variabel<br>
d.  Menggunakan .format()

In [3]:
# Nama
# A
print("Hello, my name is Calvin CT")
# C
name = "Calvin CT"
print("Hello, my name is " + name)

Hello, my name is Calvin CT
Hello, my name is Calvin CT

II. Selesaikan soal cerita berikut menggunakan python:<br>
a.  Jose membeli 4 kotak kelereng, tiap kotak berisi 15 buah kelereng. Kelereng itu akan dibagikan kepada 12 orang temannya, setiap teman akan mendapat ... kelereng.<br>
b.  Hasil dari 8 pangkat 1/3 adalah ...<br>
c.  Catharina memiliki uang sebesar Rp 50.000 untuk dibelanjakan kertas binder, 1 paket kertas binder isi 100 lembar dijual seharga 7500, jika ia ingin membeli berapa kertas binder yang dapat ia beli dengan uang yang ia punya? Berapa kembalian yang diterima?

In [12]:
# Soal a
kotak = 4
kelereng = 15
teman = 12
print(kelereng * kotak / teman)

# Soal b
a = 8
print(a ** (1/3))

# Soal c
uang = 50000
harga = 7500
print("jumlah binder:", uang // harga)
print("kembalian: Rp",uang % harga)

5.0
2.0
jumlah binder: 6
kembalian: Rp 5000

III. Tunjukan cara untuk mengonversi tipe-tipe data berikut:

1. "1000" -> 1000 (string ke int)
2. 5.25 -> 5 (float ke int)
3. 5 -> 5.0 (int ke float)
4. 1000 -> "1000" (int ke string)

Expected output:


![image.png]()

In [18]:
# Konversi
# 1
no1 = "1000"
hasil_no1 = int(no1)
print(hasil_no1,type(hasil_no1))
# 2
no2 = 5.25
hasil_no2 = int(no2)
print(hasil_no2,type(hasil_no2))
# 3
no3 = 5
hasil_no3 = float(no3)
print(hasil_no3,type(hasil_no3))
# 4
no4 = 1000
hasil_no4 = str(no4)
print(hasil_no4,type(hasil_no4))

1000 <class 'int'>
5 <class 'int'>
5.0 <class 'float'>
1000 <class 'str'>

IV. String

"If you want to know what a man's like, take a good look at how he treats his inferiors, not his equals."

1. Tampilkan indeks ke 20 sampai 30 dari string di atas (indeks ke 30 ikut)
2. Bagaimana cara memisah string berdasarkan spasi (simpan dalam list)
3. Balik string di atas dengan menggunakan satu baris kode (menggunakan index)

In [13]:
# 1
text = "If you want to know what a man's like, take a good look at how he treats his inferiors, not his equals."
print(text[20:31])

# 2
list = text.split()
print(list)

# 3
print(text[::-1])

what a man'
['If', 'you', 'want', 'to', 'know', 'what', 'a', "man's", 'like,', 'take', 'a', 'good', 'look', 'at', 'how', 'he', 'treats', 'his', 'inferiors,', 'not', 'his', 'equals.']
.slauqe sih ton ,sroirefni sih staert eh woh ta kool doog a ekat ,ekil s'nam a tahw wonk ot tnaw uoy fI

<h2> Python Data Strcutures

I. Tuple


1.   Buatlah sebuah tuple yang berisikan nama fakultas di UC, simpan dalam variabel "fakultas".
2.   Cetaklah jumlah fakultas di UC dengan mencari panjang tuple yang dibuat.
3.   Gunakan .index() untuk mengetahui posisi/index fakultas SIFT

In [45]:
# Fakultas
fakultas = ('Entrepreneurship and Humanities','Tourism','Creative Industry','Dental Medicine','Communication Science and Media Business','Medicine','Pyschology','Business and Management','SIFT')
print("Jumlah fakultas:",len(fakultas))
print("SIFT index: ",fakultas.index('SIFT'))

Jumlah fakultas: 9
SIFT index:  8

II. List


1.   Buatlah sebuah list berisi 3 nama makanan kesukaanmu. Simpan dalam variabel "favorit".
2.   Cetak nama setiap makanan dengan mengakses setiap elemen dalam list satu persatu.
3. Kamu sedang berada di sebuah restoran dan hendak memesan salah satu menu yang ada dalam daftar favoritmu. Cetak setiap makanan dengan contoh: "Aku ingin pesan {nama makanan}"
4.   Ternyata, salah satu menu tidak tersedia, jadi kamu perlu memesan makanan lain. Ganti salah satu makanan favoritmu yang kosong dengan nama makanan baru (makanan yang mana bebas). Cetak makanan favorit barumu dengan contoh: "Aku ingin mengganti pesananku jadi {nama makanan baru}"

In [22]:
# 1
favorit = ["nasi goreng","indomie","batagor"]

# 2
for i in range(len(favorit)):
  print(favorit[i])

# 3
for i in range(len(favorit)):
  print("Aku ingin pesan",favorit[i])

# 4
favorit[2]="es krim"
print("Aku ingin mengganti pesananku jadi",favorit[2])

nasi goreng
indomie
batagor
Aku ingin pesan nasi goreng
Aku ingin pesan indomie
Aku ingin pesan batagor
Aku ingin mengganti pesananku jadi es krim

III. Set

1. Buatlah 4 buah set sebagai berikut


    set1 = {1, 2, 3, 4}
    set2 = {2, 4, 6, 8}
    set3 = {5, 7}
    set4 = {2, 3}
2. Gabungkan set1 dan set2 dengan menghilangkan duplicates
3. Buktikan set1 dan set3 tidak mempunyai intersection (output : Boolean)
4. Buktikan set4 adalah bagian dari set1 (output : Boolean)

In [24]:
# 1
set1 = {1, 2, 3, 4}
set2 = {2, 4, 6, 8}
set3 = {5, 7}
set4 = {2, 3}

# 2
union_set = set1.union(set2)
print (union_set)

# 3
intersection = set1.intersection(set3)
print(bool(intersection))

# 4
print(set4.issubset(set1))

{1, 2, 3, 4, 6, 8}
False
True

<h2> Python Programming Fundamentals

I. Buatlah sebuah program sederhana yang meminta inputan dari user berupa jumlah penggunaan listrik (munculkan error jika input selain angka) dan menghasilkan output berupa tarif yang harus dibayar dengan syarat sebagai berikut:

PLN menerapkan pembayaran listrik perumahan dengan perhitungan sebagai berikut:
* untuk golongan 1 (penggunaan <1000 kWh) tarif : Rp1000/kWh
* untuk golongan 2 (penggunaan >= 1000 kWh) tarif : Rp2000/kWh

Dengan syarat perhitungan:

Minimum pembayaran adalah 100 kWh sedangkan untuk pemakaian 1000 kWh dan seterusnya tarifnya ditambah 10% dari total pembayaran.

(Jika total penggunaan <100 kWh, maka akan dikenakan tarif 100 kWh)

In [31]:
# Program Bayar Listrik
text = input("Masukkan jumlah penggunaan listrik: ")
user_input = int(text)
if(user_input < 100):
  total = 100 * 1000
  print("Tarif listrik yang harus dibayar: Rp", total)
elif(user_input < 1000):
  total = user_input * 1000
  print("Tarif listrik yang harus dibayar: Rp", total)

elif(user_input >= 1000):
  total = user_input * 2000
  total = (total * 0.1) + total
  print("Tarif listrik yang harus dibayar: Rp", total)
else:
  print("error")

Masukkan jumlah penggunaan listrik: 150
Tarif listrik yang harus dibayar: Rp 150000

II. Untuk Abdimas Oweek UC digunakan angkot dengan kapasitas 10 orang per angkot. Apabila terjadi kelebihan penumpang (walau hanya 1 orang), angkot yang digunakan ditambah 1. Tulislah program untuk menghitung jumlah angkot yang diperlukan bila jumlah pesertanya menggunakan input().

Catatan, pastikan jika angka yang dimasukkan negatif, muncul peringatan "Jumlah orang tidak bisa negatif!"

In [44]:
# Program Angkot Abdimas UC
text = input("Masukkan jumlah orang: ")
user_input = int(text)
if(user_input < 0):
  print("Jumlah orang tidak bisa negatif!")
else:
  jumlah_angkot = user_input // 10
  sisa = user_input % 10
  if(sisa > 0):
    jumlah_angkot += 1
  print("Jumlah angkot yang diperlukan:", jumlah_angkot)

Masukkan jumlah orang: 3
Jumlah angkot yang diperlukan: 1

<h2> Numpy

1. Buatlah 1D numpy array berisi nama nama hari dalam satu minggu
2. Gunakan sort untuk mengurutkan array sesuai abjad
3. Gunakan random untuk mengambil 1 hari dari array, cetakhlah dalam format: "Selamat hari \<nama hari\> adalah hari baikmu bulan ini!"
4. Buat dan cetaklah matriks 3x4 menggunakan numpy array berisi angka random dari 1-6, lalu cetak shape dan dimensi array
5. Cetaklah elemen kolom ketiga dari matrix

    [[1 ,2, 3, 4],

    [5, 6, 7, 8],

    [9, 10, 11, 12]]
6. Gunakan reshape untuk mengubah matrix di atas menjadi matriks berukuran (2, 6)

In [46]:
import numpy as np

# 1
hari = np.array(['senin','selasa','rabu','kamis','jumat','sabtu','minggu'])
print(hari)

['senin' 'selasa' 'rabu' 'kamis' 'jumat' 'sabtu' 'minggu']

In [48]:
# 2
hari.sort()
print(hari)

['jumat' 'kamis' 'minggu' 'rabu' 'sabtu' 'selasa' 'senin']

In [71]:
# 3
hari_baik = np.random.choice(hari)
print(f'Selamat hari {hari_baik} adalah hari baikmu bulan ini!')

Selamat hari selasa adalah hari baikmu bulan ini!

In [54]:
# 4
matrix = np.random.randint(1,7,size=(3,4))
print(matrix)

[[6 2 6 4]
 [3 2 3 4]
 [1 3 2 4]]

In [78]:
# 5
matrix_no5 = np.array([[1 ,2, 3, 4],

[5, 6, 7, 8],

[9, 10, 11, 12]])
print(matrix_no5[2])

[ 9 10 11 12]

In [79]:
# 6
matrix_no6 = matrix_no5.reshape(2,6)
print(matrix_no6)

[[ 1  2  3  4  5  6]
 [ 7  8  9 10 11 12]]

<h2> Pandas

1. Buatlah Pandas Series dari list ["Information", "Systems", "for", "Business"]
2. Buatlah Pandas Dataframe dari dictionary
{ "brand": "Ford", "model": "Mustang", "year": 1964 }

In [64]:
import pandas as pd

# 1
data = pd.Series(["Information","System","for","Business"])
# 2
dataframe = pd.DataFrame([
    {
        "brand": "Ford",
        "model": "Mustang",
        "year": 1964
    }
])

3. Import dataset berikut kedalam dataframe.    
dataset : https://raw.githubusercontent.com/GTerrence/dataset/main/50_Startups.csv.xls
4. Tunjukan kota apa saja yang ada dalam dataset tersebut
5. Buatlah dataset baru yang menyimpan 10 row random dari dataset. Kemudian tunjukanlah 5 row pertamanya.
6. Gunakan df.info() untuk melihat informasi singkat dari dataframe
7. Tampilkan data 'R&D Spend' dan 'Marketing Spend' dari data yang berasal dari kota 'California'
8. Temukan apa ada missing value dari setiap kolom
9. Drop data yang memiliki profit di bawah 50000
10. Urutkan Dataframe berdasarkan biaya marketing mulai dari terbesar ke terkecil

In [65]:
# 3
df = pd.read_csv('https://raw.githubusercontent.com/GTerrence/dataset/main/50_Startups.csv.xls')

In [67]:
# 4
kota = df['State'].unique()
print(kota)

['New York' 'California' 'Florida']

In [68]:
# 5
new_dataset = df.sample(n=10)
print(new_dataset.head())

    R&D Spend  Administration  Marketing Spend       State     Profit
19   86419.70       153514.11             0.00    New York  122776.86
14  119943.24       156547.42        256512.92     Florida  132602.65
39   38558.51        82982.09        174999.30  California   81005.76
16   78013.11       121597.55        264346.06  California  126992.93
13   91992.39       135495.07        252664.93  California  134307.35

In [75]:
# 6
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   R&D Spend        50 non-null     float64
 1   Administration   50 non-null     float64
 2   Marketing Spend  50 non-null     float64
 3   State            50 non-null     object
 4   Profit           50 non-null     float64
dtypes: float64(4), object(1)
memory usage: 2.1+ KB

In [74]:
# 7
df.loc[df['State'] == 'California', ['R&D Spend', 'Marketing Spend']]

    R&D Spend  Marketing Spend
1   162597.70        443898.53
6   134615.46        127716.82
9   123334.88        304981.62
11  100671.96        249744.55
13   91992.39        252664.93
16   78013.11        264346.06
20   76253.86        298664.47
25   64664.71        137962.62
32   63408.86         46085.25
34   46426.07        210797.67
37   44069.95        197029.42
39   38558.51        174999.30
40   28754.33        172795.67
42   23640.93        148001.11
44   22177.74         28334.72
47       0.00             0.00
49       0.00         45173.06

In [76]:
# 8
df.isnull().sum()

R&D Spend          0
Administration     0
Marketing Spend    0
State              0
Profit             0
dtype: int64

In [84]:
# 9
df.drop(df[df['Profit'] < 50000].index, inplace = True)

In [85]:
# 10
df.sort_values(by=['Marketing Spend'], ascending = False)

    R&D Spend  Administration  Marketing Spend       State     Profit
0   165349.20       136897.80        471784.10    New York  192261.83
1   162597.70       151377.59        443898.53  California  191792.06
2   153441.51       101145.55        407934.54     Florida  191050.39
3   144372.41       118671.85        383199.62    New York  182901.99
4   142107.34        91391.77        366168.42     Florida  166187.94
5   131876.90        99814.71        362861.36    New York  156991.12
27   72107.60       127864.55        353183.81    New York  105008.31
7   130298.13       145530.06        323876.68     Florida  155752.60
8   120542.52       148718.95        311613.29    New York  152211.77
9   123334.88       108679.17        304981.62  California  149759.96
23   67532.53       105751.03        304768.73     Florida  108733.99
22   73994.56       122782.75        303319.26     Florida  110352.25
21   78389.47       153773.43        299737.29    New York  111313.02
20   76253.86       113867.30        298664.47  California  118474.03
18   91749.16       114175.79        294919.57     Florida  124266.90
17   94657.16       145077.58        282574.31    New York  125370.37
16   78013.11       121597.55        264346.06  California  126992.93
15  114523.61       122616.84        261776.23    New York  129917.04
14  119943.24       156547.42        256512.92     Florida  132602.65
13   91992.39       135495.07        252664.93  California  134307.35
12   93863.75       127320.38        249839.44     Florida  141585.52
11  100671.96        91790.61        249744.55  California  144259.40
10  101913.08       110594.11        229160.95     Florida  146121.95
33   55493.95       103057.49        214634.81     Florida   96778.92
34   46426.07       157693.92        210797.67  California   96712.80
35   46014.02        85047.44        205517.64    New York   96479.51
36   28663.76       127056.21        201126.82     Florida   90708.19
37   44069.95        51283.14        197029.42  California   89949.14
38   20229.59        65947.93        185265.10    New York   81229.06
39   38558.51        82982.09        174999.30  California   81005.76
40   28754.33       118546.05        172795.67  California   78239.91
41   27892.92        84710.77        164470.71     Florida   77798.83
42   23640.93        96189.63        148001.11  California   71498.49
24   77044.01        99281.34        140574.81    New York  108552.04
25   64664.71       139553.16        137962.62  California  107404.34
26   75328.87       144135.98        134050.07     Florida  105733.54
6   134615.46       147198.87        127716.82  California  156122.51
28   66051.52       182645.56        118148.20     Florida  103282.38
29   65605.48       153032.06        107138.38    New York  101004.64
30   61994.48       115641.28         91131.24     Florida   99937.59
31   61136.38       152701.92         88218.23    New York   97483.56
32   63408.86       129219.61         46085.25  California   97427.84
43   15505.73       127382.30         35534.17    New York   69758.98
44   22177.74       154806.14         28334.72  California   65200.33
45    1000.23       124153.04          1903.93    New York   64926.08
19   86419.70       153514.11             0.00    New York  122776.86

<h2> Data Cleaning

1. Import dataset berikut ke dalam dataframe.   
   dataset : https://raw.githubusercontent.com/GTerrence/dataset/main/real_estate.csv
2. Tampilkan 10 data random dari dataset di atas
3. Cari informasi data dengan menggunakan fungsi describe
4. Hapus kolom 'No' dan ubahlah nama kolom dalam dataframe menjadi 'transaction_date', 'house_age', 'distance_to_the_nearest_MRT_station', 'number_of_convinience_stores', 'latitude', 'longitude', 'house_price_of_unit_area'
5. Cek apakah ada missing values dari masing-masing kolom

In [91]:
# 1
df = pd.read_csv('https://raw.githubusercontent.com/GTerrence/dataset/main/real_estate.csv')

In [92]:
# 2
df.sample(10)

,No,X1 transaction date,X2 house age,X3 distance to the nearest MRT station,X4 number of convenience stores,X5 latitude,X6 longitude,Y house price of unit area
252,253,2012.833,5.9,90.45606,9,24.97433,121.54310,52.7
271,272,2012.917,17.7,451.64190,8,24.96945,121.54490,26.5
12,13,2012.917,13.0,492.23130,5,24.96515,121.53737,39.3
297,298,2012.833,34.9,567.03490,4,24.97003,121.54580,28.5
398,399,2013.417,14.7,1717.19300,2,24.96447,121.51649,23.0
224,225,2013.333,34.5,324.94190,6,24.97814,121.54170,46.0
339,340,2013.333,1.7,329.97470,5,24.98254,121.54395,50.4
17,18,2012.750,17.7,350.85150,1,24.97544,121.53119,37.4
278,279,2012.750,0.0,208.39050,6,24.95618,121.53844,44.0
4,5,2012.833,5.0,390.56840,5,24.97937,121.54245,43.1

In [93]:
# 3
df.describe()

,No,X1 transaction date,X2 house age,X3 distance to the nearest MRT station,X4 number of convenience stores,X5 latitude,X6 longitude,Y house price of unit area
count,414.000000,414.000000,414.000000,414.000000,414.000000,414.000000,414.000000,414.000000
mean,207.500000,2013.148971,17.712560,1083.885689,4.094203,24.969030,121.533361,37.980193
std,119.655756,0.281967,11.392485,1262.109595,2.945562,0.012410,0.015347,13.606488
min,1.000000,2012.667000,0.000000,23.382840,0.000000,24.932070,121.473530,7.600000
25%,104.250000,2012.917000,9.025000,289.324800,1.000000,24.963000,121.528085,27.700000
50%,207.500000,2013.167000,16.100000,492.231300,4.000000,24.971100,121.538630,38.450000
75%,310.750000,2013.417000,28.150000,1454.279000,6.000000,24.977455,121.543305,46.600000
max,414.000000,2013.583000,43.800000,6488.021000,10.000000,25.014590,121.566270,117.500000

In [94]:
# 4
df.drop('No', axis=1, inplace=True)
df.columns = ['transaction_date', 'house_age', 'distance_to_the_nearest_MRT_station', 'number_of_convinience_stores', 'latitude', 'longitude', 'house_price_of_unit_area']

In [95]:
# 5
df.isnull().sum()

transaction_date                       0
house_age                              0
distance_to_the_nearest_MRT_station    0
number_of_convinience_stores           0
latitude                               0
longitude                              0
house_price_of_unit_area               0
dtype: int64